.Navbar {
    margin-top: 0;
    width: 100%;
    position: fixed;
    height: 15 px;
    background-color: rgb(228, 96, 59);
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-content: space-between;
    align-items: center;
}